// Chrome applies an 8px margin by default (gross).
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0px;
}

#popup {
    margin: 1em;
    align-items: left;
    display: flex;
    height: 80em;
    width: 20em;
}
